a.uni-corner {
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 15px;
  width: clamp(110px, 8vmax, 110px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}

a.uni-corner.bottom {
    top: auto;
    bottom: -5px;
}

a.uni-corner:hover {
    color: white;
}

a.app-corner {
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 5px;
  width: clamp(200px, 8vmax, 200px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}

a.app-corner.bottom {
    top: auto;
    bottom: -5px;
}

a.app-corner:hover {
    color: white; }

.git-row {
  display: flex;
}

.git-column {
  flex: 33.33%;
  padding: 5px;
}

.circular { border-radius: 50%; }
